<form th:object="${displayEventForm}" id="myForm">
    <div class="jumbotron">
        <h1 class="display-3" th:text="${displayEventForm.event.title}"></h1>
    </div>
    <div class="container">
        <div class="form-group row" th:if="${displayEventForm.afterCreation}">
            <label class="col-sm-2 col-form-label">Internal ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{event.id}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Public ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{event.readID}"/>
            </div>
        </div>
        <div class="form-group row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th th:each="proposal : *{event.proposals}"><span th:text="${proposal.date}">The Date Proposal</span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        This line is for the current user!
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>