<div class="jumbotron">
    <h1 class="display-3">Copy Doodle Flow</h1>
    <p class="lead">This is me copying the doodle flow to learn</p>
    <hr class="my-4"/>
    <form th:action="@{/{lg}/plan/new/create(lg=${#locale})}" th:object="${newEventForm}" id="myForm" method="post">
        <p th:each="error : ${newEventForm.errors}" th:text="${error.translatedMessage}"/>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{title}" placeholder=""/>
            </div>
        </div>
        <div id="datepicker"></div>
        <div class="form-group row">
            <button type="button" class="btn btn-outline-primary pull-right" th:text="#{label.continue}"
                    id="submit-button">Continue
            </button>
        </div>
    </form>
</div>

<script type="text/javascript" th:inline="javascript">

	
	$(function() {
		
		var dates = new Array();


		 /*<![CDATA[*/

            var theList = [[${newEventForm.dates}]]
            if (theList && theList.length && theList.length > 0){
                for (i = 0; i < theList.length; i++) {
                    dates.push(theList[i]);
                }
            }

        /*]]>*/


		function addOrRemoveDate(date) {
			var index = jQuery.inArray(date, dates);
			if (index >= 0) {
				dates.splice(index, 1);
			} else {
				dates.push(date);
			}
		}

		function padNumber(number) {
			var ret = new String(number);
			if (ret.length == 1) {
				ret = "0" + ret;
			}
			return ret;
		}
		

		$("#submit-button").click(function(e) {

			_.forEach(dates, function(pDate) {
				var input = document.createElement('input');
				input.type = 'hidden';
				input.name = 'dates';
				input.value = pDate;
				document.getElementById("myForm").appendChild(input);
			});
			
			$("#myForm").submit();
			

		});

		$("#datepicker").datepicker({
			onSelect : function(dateText, inst) {
				addOrRemoveDate(dateText);
			},
			beforeShowDay : function(date) {
				var year = date.getFullYear();
				// months and days are inserted into the array in the form, e.g "01/01/2009", but here the format is "1/1/2009"
				var month = padNumber(date.getMonth() + 1);
				var day = padNumber(date.getDate());
				// This depends on the datepicker's date format
				var dateString = month + "/" + day + "/" + year;

				var gotDate = jQuery.inArray(dateString, dates);
				if (gotDate >= 0) {
					// Enable date so it can be deselected. Set style to be highlighted
					return [ true, "ui-state-highlight" ];
				}
				// Dates not in the array are left enabled, but with no extra style
				return [ true, "" ];
			}
		});
	});





</script>