<div class="jumbotron">
    <h1 class="display-3">Copy Doodle Flow</h1>
    <p class="lead">This is me copying the doodle flow to learn</p>
    <hr class="my-4"/>
    <form th:action="@{/{lg}/plan/new/dates(lg=${#locale})}" method="post" th:object="${newEventForm}">

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
        <!--
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{title}" placeholder=""/>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Note</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="note" placeholder=""/>
            </div>
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-outline-primary pull-right" th:text="#{label.continue}">Continue</button>
        </div>
        -->
    </form>
</div>