<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>World Cup 2018 by Mr. DAC</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous"/>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

    <script th:src="@{/js/app.js}"></script>

    <link rel="stylesheet" th:href="@{/css/app.css}"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="true" src="https://www.googletagmanager.com/gtag/js?id=UA-20206005-8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-20206005-8');




































    </script>
</head>

<body>

<div th:replace="fragments/header"></div>

<div class="container main-content">
    <div th:replace="${view}"></div>
</div>

<!--
<div th:replace="fragments/footer"></div>
 -->
</body>
</html>