<div class="jumbotron">
    <h1 class="display-4">You got a 401 error!</h1>
    <p class="lead">Hello my friend! You are trying to perform an action that requires authentication.</p>
    <hr class="my-4">
    <p>Please, sign in by using the link below.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/en/login" role="button">Sign In</a>
    </p>
</div>