<div class="jumbotron">
    <h1 class="display-4">You got a 404 error!</h1>
    <p class="lead">Stop there! This page you are trying to reach does not exist.</p>
    <hr class="my-4">
    <p>What the hell are you trying to do? This is not my fault. Start over using the link below!</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Home Page</a>
    </p>
</div>