<div class="jumbotron">
    <h1 class="display-4">You got a 500 error!</h1>
    <p class="lead">Ops ... sounds like something went wrong and I could not recover.</p>
    <hr class="my-4">
    <p>Mr. DAC is really sorry for the trouble. Please start over using the link below.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Home Page</a>
    </p>
</div>