<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a th:href="@{/{lg}/home(lg=${#locale})}" class="navbar-brand d-none d-sm-block">
            <img class="header-logo " th:src="@{/img/main-logo.jpg}"/>
            <strong>World Cup 2018
                <small>by Mr. DAC</small>
            </strong>
        </a>
        <a th:href="@{/{lg}/home(lg=${#locale})}" class="navbar-brand d-block d-sm-none">
            <strong>World Cup 2018
                <small>by Mr. DAC</small>
            </strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
                aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsExampleDefault" style="">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a th:href="@{/{lg}/rules(lg=${#locale})}" class="nav-link">Rules</a>
                </li>
                <li class="nav-item active">
                    <a th:href="@{/{lg}/login(lg=${#locale})}" class="nav-link" th:if="${@userSession.user == null}">Login</a>
                </li>
                <li class="nav-item active dropdown" th:if="${@userSession.user != null}">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="mr-1" th:text="${@userSession.user.firstName + ' ' + #strings.toUpperCase(@userSession.user.lastName)}"></span>
                        <img style="border-radius: 50%;" class="flag"
                             th:src="@{https://www.gravatar.com/avatar/{hasg}(hasg=${@userSession.user.gravatarHash})}"/>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a th:href="@{/{lg}/sec/mybets(lg=${#locale})}" class="dropdown-item" th:if="${@userSession.user != null}">My bets</a>
                        <div class="dropdown-divider"></div>
                        <a th:href="@{/{lg}/admin/createuser(lg=${#locale})}" class="dropdown-item"
                           th:if="${@userSession.user != null and @userSession.user.isAdmin()}">Admin User</a>
                        <a th:href="@{/{lg}/admin/matches(lg=${#locale})}" class="dropdown-item"
                           th:if="${@userSession.user != null and @userSession.user.isAdmin()}">Admin Match</a>
                        <div class="dropdown-divider"></div>
                        <a href="https://en.gravatar.com/" target="_blank" class="dropdown-item">Update my Gratar</a>
                        <div class="dropdown-divider"></div>
                        <a th:href="@{/{lg}/changepassword(lg=${#locale})}" class="dropdown-item" th:if="${@userSession.user != null}">Update password</a>
                        <a th:href="@{/{lg}/logout(lg=${#locale})}" class="dropdown-item" th:if="${@userSession.user != null}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>