<div class="container">
    <form class="form-signin" th:action="@{/{lg}/changepassword(lg=${#locale})}" th:object="${changePasswordForm}" id="myForm" method="post">

        <p class="alert" th:classappend="${msg.type} == 'error' ? alert-danger : alert-success"
           th:each="msg : ${changePasswordForm.messages}"
           th:text="${msg.txt}"/>
        <div class="form-group">
            <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Current password*"/>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New password*"/>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="newPasswordConfirmation" name="newPasswordConfirmation" placeholder="New password confirmation*"/>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>