<div class="container">
    <form class="form-signin" th:action="@{/{lg}/admin/createuser(lg=${#locale})}" th:object="${createUserForm}" id="myForm" method="post">

        <p class="alert" th:classappend="${msg.type} == 'error' ? alert-danger : alert-success"
           th:each="msg : ${createUserForm.messages}"
           th:text="${msg.txt}"/>
        <div class="form-group">
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name *" th:value="${firstName}"/>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name *" th:value="${lastName}"/>
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="E-mail *" th:value="${email}"/>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password*" th:value="${pwd}"/>
        </div>
        <div class="form-group">
            Is Admin? <input type="checkbox" name="admin" th:checked="${admin}"/>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>