<form th:object="${homeForm}">
    <div class="row mb-2" data-th-each="day : ${homeForm.nextMatches}">
        <div class="col-12">
            <div class="row"><!-- The header -->
                <div class="col-12"><h4 data-th-text="${day.dateAsString}"></h4></div>
            </div>
            <table class="table mt-2 mb-4 table-striped table-sm table-hover table-bordered">
                <tbody>
                <tr style="cursor: pointer" data-th-each="match, row : ${day.matches}"
                    th:onclick="'javascript:document.getElementById(\'showMatch' + ${match.id} + '\').click()'">
                    <td width="10%" class="text-center align-middle">
                        <img class="flag" th:src="@{https://lipis.github.io/flag-icon-css/flags/4x3/{code}.svg(code=${match.t1})}"/>
                    </td>
                    <td width="20%" class="text-center align-middle"><h5 class="team-name" data-th-text="${match.t1Name}"></h5></td>
                    <td width="16%" class="text-center align-middle" data-th-text="${match.timeAsString}"></td>
                    <td width="20%" class="text-center align-middle"><h5 class="team-name" data-th-text="${match.t2Name}"></h5></td>
                    <td width="10%" class="text-center align-middle">
                        <img class="flag" th:src="@{https://lipis.github.io/flag-icon-css/flags/4x3/{code}.svg(code=${match.t2})}"/>
                    </td>
                    <td width="20%" class="text-center align-middle d-none d-sm-table-cell">
                        <span data-th-text="${match.phaseName}"></span>
                        <a style="display:none" th:id="'showMatch' + ${match.id}" th:href="@{/{lg}/matches/{id}(lg=${#locale},id=${match.id})}"
                           role="button"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--
    <div class="table-responsive">
        <table class="table table-striped ">
            <thead>
            <tr>
                <th class="text-center align-middle" scope="col">T1</th>
                <th class="text-center align-middle d-none d-sm-table-cell" scope="col">#</th>
                <th class="text-center align-middle" scope="col">T2</th>
                <th class="text-center align-middle d-none d-sm-table-cell" scope="col">Phase</th>
                <th class="text-center align-middle" scope="col">Date Time</th>
                <th class="text-center align-middle" scope="col">#</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="match, iter : ${homeForm.nextMatches}">

                <td width="20%" class="text-center align-middle">
                    <img class="flag"
                         th:src="@{https://lipis.github.io/flag-icon-css/flags/4x3/{code}.svg(code=${match.t1})}"/>
                    <span class="team-name" data-th-text="${match.t1Name}"></span>

                </td>

                <td width="2%" class="text-center align-middle d-none d-sm-table-cell">vs</td>

                <td width="20%" class="text-center align-middle">
                    <img class="flag"
                         th:src="@{https://lipis.github.io/flag-icon-css/flags/4x3/{code}.svg(code=${match.t2})}"/>
                    <span class="team-name" data-th-text="${match.t2Name}"></span>
                </td>

                <td width="20%" data-th-text="${match.phaseName}" class="text-center align-middle d-none d-sm-table-cell"></td>

                <td width="20%" data-th-text="${match.dateTimeAsString}" class="text-center align-middle"></td>

                <td width="10%"
                    class="text-center align-middle"><a class="btn btn-sm btn-outline-primary" th:href="@{/{lg}/matches/{id}(lg=${#locale},id=${match.id})}"
                                                        role="button">More</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    -->
    <div>
        <p class="text-center mb-5 mt-5"><a th:href="@{/{lg}/matches(lg=${#locale})}"><strong>View all matches</strong></a></p>
    </div>
    <h2 class="mb-4">The ranking</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm table-hover">
            <thead>
            <tr>
                <th class="text-center align-middle d-none d-sm-table-cell" scope="col">Ranking</th>
                <th class="text-center align-middle" scope="col">Gravatar</th>
                <th class="text-center align-middle" scope="col">First Name</th>
                <th class="text-center align-middle d-none d-sm-table-cell" scope="col">Last Name</th>
                <th class="text-center align-middle" scope="col">Points last day</th>
                <th class="text-center align-middle" scope="col">Total Points</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="result, iter : ${homeForm.classification}">
                <td width="10%" class="text-center align-middle d-none d-sm-table-cell" scope="row" data-th-text="${result.ranking}"></td>
                <td width="20%" class="text-center align-middle" scope="row">
                    <img class="app-avatar"
                         th:src="@{https://www.gravatar.com/avatar/{hasg}(hasg=${result.user.gravatarHash})}"/>
                </td>
                <td width="20%" class="text-center align-middle" data-th-text="${result.user.firstName}"></td>
                <td width="20%" class="text-center align-middle d-none d-sm-table-cell" data-th-text="${#strings.toUpperCase(result.user.lastName)}"></td>
                <td width="15%" class="text-center align-middle">
                    <span class="badge badge-success" data-th-text="${'+' + result.pointsLast24H}"></span>
                </td>
                <td width="15%" class="text-center align-middle">
                    <span class="badge badge-primary" data-th-text="${result.points}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
