<div class="container">

    <form class="form-signin" th:action="@{/{lg}/authenticate(lg=${#locale})}" th:object="${loginForm}" id="myForm" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <p role="alert" class="alert" th:classappend="${msg.type} == 'error' ? alert-danger : alert-success"
           th:each="msg : ${loginForm.messages}"
           th:text="${msg.txt}"/>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email"
               th:value="${loginForm.email}"/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
    </form>
</div>