<form th:object="${matchesForm}">

    <div class="bd-example bd-example-tabs">
        <ul class="nav nav-pills mb-4" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active show" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                   aria-selected="false">Next matches
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                   aria-selected="true">Past matches</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div data-th-each="day : ${matchesForm.nextMatches}">

                    <div class="row">
                        <div class="col-12">
                            <div class="row"><!-- The header -->
                                <div class="col-12"><h4 data-th-text="${day.dateAsString}"></h4></div>
                            </div>
                            <table class="table mt-2 mb-4 table-striped table-sm table-hover table-bordered">
                                <tbody>
                                <tr style="cursor:pointer" data-th-each="match, row : ${day.matches}"
                                    th:onclick="'javascript:document.getElementById(\'showNextMatch' + ${match.id} + '\').click()'">
                                    <td width="12.5%" class="text-center align-middle">
                                        <img class="flag" th:src="@{https://lipis.github.io/flag-icon-css/flags/4x3/{code}.svg(code=${match.t1})}"/>
                                    </td>
                                    <td width="14.5%" class="text-center align-middle"><h5 class="team-name" data-th-text="${match.t1Name}"></h5></td>
                                    <td width="8.5%" class="text-center align-middle d-none d-sm-table-cell"><span class="goals-right">-</span></td>
                                    <td width="9.5%" class="text-center align-middle d-none d-sm-table-cell" data-th-text="${match.timeAsString}"></td>
                                    <td width="8.5%" class="text-center align-middle d-none d-sm-table-cell"><span class="goals-right">-</span></td>
                                    <td width="14.5%" class="text-center align-middle"><h5 class="team-name" data-th-text="${match.t2Name}"></h5></td>
                                    <td width="12.5%" class="text-center align-middle">
                                        <img class="flag" th:src="@{https://lipis.github.io/flag-icon-css/flags/4x3/{code}.svg(code=${match.t2})}"/>
                                        <a style="display:none" th:id="'showNextMatch' + ${match.id}"
                                           th:href="@{/{lg}/matches/{id}(lg=${#locale},id=${match.id})}"
                                           role="button"></a>
                                    </td>
                                    <td width="14.5%" data-th-text="${match.phaseName}" class="text-center align-middle d-none d-sm-table-cell"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="row mb-2" data-th-each="day : ${matchesForm.pastMatches}">
                    <div class="col-12">
                        <div class="row"><!-- The header -->
                            <div class="col-12"><h4 data-th-text="${day.dateAsString}"></h4></div>
                        </div>
                        <table class="table mt-2 mb-4 table-striped table-sm table-hover table-bordered">
                            <tbody>
                            <tr style="cursor:pointer" data-th-each="match, row : ${day.matches}"
                                th:onclick="'javascript:document.getElementById(\'showPastMatch' + ${match.id} + '\').click()'">
                                <td width="12.5%" class="text-center align-middle">
                                    <img class="flag" th:src="@{https://lipis.github.io/flag-icon-css/flags/4x3/{code}.svg(code=${match.t1})}"/>
                                </td>
                                <td width="14.5%" class="text-center align-middle"><h5 class="team-name" data-th-text="${match.t1Name}"></h5></td>
                                <td width="8.5%" class="text-center align-middle"><span class="goals-right" data-th-text="${match.t1Score}"></span></td>
                                <td width="9.5%" class="text-center align-middle d-none d-sm-table-cell" data-th-text="${match.timeAsString}"></td>
                                <td width="8.5%" class="text-center align-middle"><span class="goals-right" data-th-text="${match.t2Score}"></span></td>
                                <td width="14.5%" class="text-center align-middle"><h5 class="team-name" data-th-text="${match.t2Name}"></h5></td>
                                <td width="12.5%" class="text-center align-middle">
                                    <img class="flag" th:src="@{https://lipis.github.io/flag-icon-css/flags/4x3/{code}.svg(code=${match.t2})}"/>
                                    <a style="display:none" th:id="'showPastMatch' + ${match.id}"
                                       th:href="@{/{lg}/matches/{id}(lg=${#locale},id=${match.id})}"
                                       role="button"></a>
                                </td>
                                <td width="14.5%" data-th-text="${match.phaseName}" class="text-center align-middle d-none d-sm-table-cell"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
