<form th:object="${matchForm}">
    <h1 class="mb-5">The Match</h1>
    <div class="row">
        <div class="col-sm-4 text-center align-middle">
            <img class="flag-big"
                 th:src="@{https://lipis.github.io/flag-icon-css/flags/4x3/{code}.svg(code=${matchForm.match.t1})}"/>
            <span style="display: block" class="mt-3"><strong><span data-th-text="${matchForm.match.t1Name}"></span></strong></span>
        </div>
        <div class="col-sm-1 text-center align-middle">
            <h1 class="mt-4" data-th-text="${matchForm.match.t1Score}"></h1>
        </div>
        <div class="col-sm-2 text-center align-middle">
            <h1>vs</h1>
        </div>
        <div class="col-sm-1 text-center align-middle">
            <h1 class="mt-4" data-th-text="${matchForm.match.t2Score}"></h1>
        </div>
        <div class="col-sm-4 text-center align-middle">
            <img class="flag-big"
                 th:src="@{https://lipis.github.io/flag-icon-css/flags/4x3/{code}.svg(code=${matchForm.match.t2})}"/>
            <span style="display: block" class="mt-3"><strong><span data-th-text="${matchForm.match.t2Name}"></span></strong></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center align-middle">
            <hr/>
            <h2 data-th-text="${matchForm.match.dateTimeAsString}"></h2>
            <hr/>
            <h3 data-th-text="${matchForm.match.phaseName}"></h3>
        </div>
    </div>
    <h1 class="mb-5 mt-5">The Bets</h1>

    <div class="jumbotron jumbotron-fluid" th:if="${!matchForm.canDisclosure()}">
        <div class=" container">
            <h1 class="display-4">Bets are not yet public</h1>
            <hr class="my-4"/>
            <p class="lead">The system will only disclosure the bets if the day of the match is >= Today. Come back later!</p>
        </div>
    </div>

    <div class="row" th:if="${matchForm.canDisclosure()}">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                <tr class="text-center">
                    <th scope="col">First Name</th>
                    <th scope="col" class="d-none d-sm-table-cell">Last Name</th>
                    <th scope="col">T1 Score</th>
                    <th scope="col" class="d-none d-sm-table-cell"></th>
                    <th scope="col">T2 Score</th>
                    <th scope="col" class="d-none d-sm-table-cell">Bet Time</th>
                    <th scope="col">Points</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="bet : ${matchForm.bets}" class="text-center" th:classappend="${bet.getCSSName()}">
                    <td data-th-text="${bet.user.firstName}"></td>
                    <td class="d-none d-sm-table-cell" data-th-text="${bet.user.lastName}"></td>
                    <td width="5%" data-th-text="${bet.t1Score}"></td>
                    <td width="5%" class="d-none d-sm-table-cell">
                        <small>-</small>
                    </td>
                    <td width="5%" data-th-text="${bet.t2Score}"></td>
                    <td class="d-none d-sm-table-cell" data-th-text="${bet.dateTimeAsString}"></td>
                    <td width="5%" data-th-text="${bet.points}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
