<form th:object="${matchAdminForm}" id="form" method="post" th:action="@{/{lg}/admin/matches(lg=${#locale})}">
    <input type="hidden" name="id" value=""/>
    <input type="hidden" name="t1Score" value=""/>
    <input type="hidden" name="t2Score" value=""/>
    <div class="bd-example bd-example-tabs">
        <ul class="nav nav-pills mb-4" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                   aria-selected="false">All matches
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active show" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                   aria-selected="true">Create Match</a>
            </li>

        </ul>
        <div class="tab-content" id="pills-tabContent">

            <p role="alert" class="alert" th:classappend="${msg.type} == 'error' ? alert-danger : alert-success"
               th:each="msg : ${matchAdminForm.messages}"
               th:text="${msg.txt}"/>

            <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <table class="table table-responsive ">
                    <thead>
                    <tr class="text-center">
                        <th scope="col" width="1%">#</th>
                        <th scope="col" width="20%">T1</th>
                        <th scope="col" width="12%">T1 Score</th>
                        <th scope="col" width="20%">T2</th>
                        <th scope="col" width="12%">T2 Score</th>
                        <th scope="col" width="20%">Date Time</th>
                        <th scope="col" width="7%">#</th>
                        <th scope="col" width="7%">#</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-center" data-th-each="match, iter : ${matchAdminForm.matches}">
                        <td class="align-middle" scope="row" data-th-text="${iter.index} + 1"></td>
                        <td class="align-middle">
                            <img class="flag"
                                 th:src="@{https://lipis.github.io/flag-icon-css/flags/4x3/{code}.svg(code=${match.t1})}"/>
                            <span class="team-name" data-th-text="${match.t1Name}"></span>

                        </td>
                        <td class="align-middle">
                            <input step="1" th:name="'t1Score' + ${iter.index}" class="form-control text-center" type="number"
                                   th:value="${match.t1Score}"/>
                        </td>
                        <td class="align-middle">
                            <img class="flag"
                                 th:src="@{https://lipis.github.io/flag-icon-css/flags/4x3/{code}.svg(code=${match.t2})}"/>
                            <span class="team-name" data-th-text="${match.t2Name}"></span>
                        </td>
                        <td class="align-middle">
                            <input step="1" th:name="'t2Score' + ${iter.index}" class="form-control text-center" type="number" th:value="${match.t2Score}"/>
                        </td>
                        <td class="align-middle" data-th-text="${match.dateTimeAsString}"></td>
                        <td class="align-middle">
                            <button type="button" class="btn btn-primary btn-sm"
                                    th:onclick="'javascript:updateMatch(\'' + ${match.id} + '\', document.forms[\'form\'][\'t1Score'+${iter.index}+'\'].value, document.forms[\'form\'][\'t2Score'+${iter.index}+'\'].value)'">
                                Update
                            </button>
                        </td>
                        <td class="align-middle">
                            <button type="button" class="btn btn-primary btn-sm"
                                    th:onclick="'javascript:deleteMatch(\'' + ${match.id} + '\')'">
                                Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade active show" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="team1">Team 1</label>
                        <select id="team1" name="team1" class="form-control">
                            <option th:each="team : ${matchAdminForm.teams}" th:value="${team.code}" th:text="${team.name}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="team2">Team 2</label>
                        <select id="team2" name="team2" class="form-control">
                            <option th:each="team : ${matchAdminForm.teams}" th:value="${team.code}" th:text="${team.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="phase">Phase</label>
                        <select id="phase" name="phase" class="form-control">
                            <option th:each="phase : ${matchAdminForm.phases}" th:value="${phase.code}" th:text="${phase.name}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="time">Date Time</label>
                        <input type="datetime-local" name="dateTime" class="form-control" id="dateTime"/>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" th:onclick="'javascript:createMatch()'">Create</button>
            </div>
        </div>
    </div>
</form>
