<form th:object="${myBetsForm}" id="form" method="post" th:action="@{/{lg}/sec/mybets(lg=${#locale})}">
    <input type="hidden" name="matchID" value=""/>
    <input type="hidden" name="t1Score" value=""/>
    <input type="hidden" name="t2Score" value=""/>
    <div class="bd-example bd-example-tabs">
        <nav>
            <div class="nav nav-pills mb-4" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active show" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
                   aria-selected="true">My open bets</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
                   aria-selected="false">My closed bets</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div role="alert" class="alert" th:classappend="${msg.type} == 'error' ? alert-danger : alert-success"
                     th:each="msg : ${myBetsForm.messages}">
                    <span th:text="${msg.txt}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-responsive ">
                        <thead>
                        <tr class="text-center no-gutters">
                            <th class="d-none d-sm-table-cell" scope="col" width="1%">#</th>
                            <th scope="col" width="20%">T1</th>
                            <th scope="col" width="12%">T1 Score</th>
                            <th scope="col" width="20%">T2</th>
                            <th scope="col" width="12%">T2 Score</th>
                            <th scope="col" width="20%">Date Time</th>
                            <th scope="col" width="15%">#</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center no-gutters" data-th-each="bet, iter : ${myBetsForm.panel.open}"
                            th:classappend="${!bet.wasMadeByUser()}? table-warning : table-info">
                            <td class="align-middle d-none d-sm-table-cell" scope="row" data-th-text="${iter.index} + 1"></td>
                            <td class="align-middle">
                                <img class="flag"
                                     th:src="@{https://lipis.github.io/flag-icon-css/flags/4x3/{code}.svg(code=${bet.match.t1})}"/>
                                <span class="team-name" data-th-text="${bet.match.t1Name}"></span>
                            </td>
                            <td class="align-middle">
                                <input step="1" th:name="'t1Score' + ${iter.index}" class="form-control text-center" type="number"
                                       th:value="${bet.t1Score}"/>
                            </td>
                            <td class="align-middle">
                                <img class="flag"
                                     th:src="@{https://lipis.github.io/flag-icon-css/flags/4x3/{code}.svg(code=${bet.match.t2})}"/>
                                <span class="team-name" data-th-text="${bet.match.t2Name}"></span>
                            </td>
                            <td class="align-middle">
                                <input step="1" th:name="'t2Score' + ${iter.index}" class="form-control text-center" type="number" th:value="${bet.t2Score}"/>
                            </td>
                            <td class="align-middle" data-th-text="${bet.match.dateTimeAsString}"></td>
                            <td class="align-middle">
                                <button type="button" class="btn btn-primary btn-sm"
                                        th:onclick="'javascript:makeABet(\'' + ${bet.match.id} + '\', document.forms[\'form\'][\'t1Score'+${iter.index}+'\'].value, document.forms[\'form\'][\'t2Score'+${iter.index}+'\'].value)'">
                                    Update
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="table-responsive">
                    <table class="table table-responsive">
                        <thead>
                        <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">T1</th>
                            <th scope="col" width="10%">T1 Score</th>
                            <th scope="col">T2</th>
                            <th scope="col" width="10%">T2 Score</th>
                            <th scope="col">Date Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="text-center" data-th-each="bet, iter : ${myBetsForm.panel.closed}">
                            <td scope="row" data-th-text="${iter.index} + 1"></td>
                            <td>
                                <img class="flag"
                                     th:src="@{https://lipis.github.io/flag-icon-css/flags/4x3/{code}.svg(code=${bet.match.t1})}"/>
                            </td>
                            <td>
                                <input class="form-control text-center" disabled="true" type="text" th:value="${bet.t1Score}"/>
                            </td>
                            <td>
                                <img class="flag"
                                     th:src="@{https://lipis.github.io/flag-icon-css/flags/4x3/{code}.svg(code=${bet.match.t2})}"/>
                            </td>
                            <td>
                                <input class="form-control text-center" disabled="true" type="text" th:value="${bet.t2Score}"/>
                            </td>
                            <td data-th-text="${bet.match.dateTimeAsString}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
