<h1>World Cup 2018
    <small>by Mr. DAC</small>
</h1>
<hr/>
<h2>General Rules</h2>
<ol>
    <li>Have fun;</li>
    <li>Don't forget to make your bets;</li>
    <li>Follow your heart at your own peril;</li>
    <li>It is not a bug! Italy is not in the World Cup;</li>
    <li>It is not a bug again! Holland is not in the World Cup neither;</li>
    <li>If if you find a bug on the website, I will only fix if it is a SEV1;</li>
</ol>
<hr/>
<h2>Performing bets</h2>
<ul>
    <li>You can make a bet for a match until the previous day of the match;
        <ul>
            <li>In other words, you have until 23:59:59 of the previous day;</li>
            <li>Until this time, you can change your bet as many times as you want;</li>
            <li>After the deadline, the match becomes frozen and you can't do anything;</li>
        </ul>
    </li>
    <li>Once the bests are frozen for a given match, all the bets for all players will become public;
        <ul>
            <li>This is a way for the system to prove that bets will not be changed after the deadline;</li>
            <li>This is also a way for you to get worried if you bet on something completely different from the others;</li>
            <li>This is also a way for you to make fun of your colleagues in case they feel too optimist by their bet skills;</li>
        </ul>
    </li>
    <li>If you forget to make a bet ... Well ...</li>
</ul>
<hr/>
<h2>How points are assigned to players</h2>
<ul>
    <li>You will receive points in the following cases;
        <ul>
            <li>If you guess the winner, you will receive 2 points;</li>
            <li>If you guess that the match will be a draw, you will receive 2 points;</li>
            <li>If you guess the score of one of the teams, you will receive 1 point;</li>
        </ul>
    </li>
    <li>This means that you can make a maximum of 4 points per match;</li>
    <li>Ex: Imagine a match between Brazil vs Argentina as following => <strong>Brazil 14 vs 1 Argentina</strong>;
        <ul>
            <li>You bet Brazil 14 vs 1 Argentina => You get 4 points (good winner + good score for both teams);</li>
            <li>You bet Brazil 10 vs 1 Argentina => You get 3 points (good winner + good score for Argentina);</li>
            <li>You bet Brazil 14 vs 0 Argentina => You get 3 points (good winner + good score for Brazil);</li>
            <li>You bet Brazil 10 vs 0 Argentina => You get 2 points (good winner only);</li>
            <li>You bet Brazil 0 vs 1 Argentina => You get 1 points (good score for Argentina);</li>
            <li>You bet Brazil 0 vs 2 Argentina => You get 0 points (you got nothing right);</li>
        </ul>
    </li>
    <li>The match result does not include the penalties after the 120 minutes played by both teams;</li>
    <li>In other words, if a match ends in draw and they have to decide te winner with penalties, the match result in the system will appear as draw;</li>
</ul>
<hr/>
<h2>Prize distribution</h2>
<ul>
    <li>It is a very simple rule;
        <ul>
            <li>The first in the raking gets 70% of the total amount;</li>
            <li>The second in the raking gets 20% of the total amount;</li>
            <li>The third in the raking gets 10% of the total amount;</li>
            <li>If N players on the same raking, they will simply share their cut;</li>
            <li>Example: If two players are in the first position, they will receive 70% / 2, or 35% each;</li>
        </ul>
    </li>
</ul>