html, body {
font-family: 'Roboto', sans-serif;
background-color: #f5f5f5;
}

.main-content {
    padding-top: 7.5rem;
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.flag {
    max-width: 70px;
}

.flag-big {
    width: 140px;
    height: auto;
    display: inline;
    justify-content: space-between;
    flex-direction: column;
}

.app-nav {
    margin-bottom: 2em;
}



.form-signin {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.goals-left {
    font-size: 120%;
    font-weight: bold;
}

.goals-right {
    font-size: 120%;
    font-weight: bold;
}

.header-logo {
    max-height: 70px;
    width: auto;
    margin-right: 2em;
}

.team-name {
    display: block;
    margin-top: 0.5em;
}

.app-avatar {
    max-height: 45px;
    border-radius: 50%;
}